body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    background: linear-gradient(#8ff5f8,#6df1ea3f);

}

.container {
    background: linear-gradient(to bottom,rgba(247, 253, 255, 0.568),rgba(227, 255, 250, 0.479));
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

fieldset {
    margin-bottom: 18px;
}

legend {
    background-color: deepskyblue;
    padding: 6px;
    border-radius: 28px;
    font-weight: bold;
    width: 90px;
    text-align: justify;
}

img {
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 26px;
    margin-left: 10px;
    float: left;
}

.datos {
    margin-bottom: 50px;
}

.datos span {
    font-weight: bold;
}

span {
    font-weight: bold;
}

.boton {
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.division {
    margin-top: 20px;
}

footer {
    margin: 40px;
}

